<div class="example-container mat-elevation-z8" style="margin: 20px;">
    <mat-table [dataSource]="dataSource" matSort>
        <!-- Cliente Column -->
        <ng-container matColumnDef="cliente" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                <span class="mobile-label">Cliente:</span>
                {{ row.cliente }}</mat-cell>
        </ng-container>

        <!-- Importe Column -->
        <ng-container matColumnDef="importe" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Importe </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                <span class="mobile-label">Importe:</span>
                {{ row.importe }}</mat-cell>
        </ng-container>

        <!-- Vencimiento Column -->
        <ng-container matColumnDef="vencimiento" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Vencimiento </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                <span class="mobile-label">Vencim.:</span>
                {{ row.vencimiento | date: 'dd/MM/yyyy' }}</mat-cell>
        </ng-container>

        <!-- Banco Column -->
        <ng-container matColumnDef="banco" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Banco </mat-header-cell>
            <mat-cell  *matCellDef="let row" >
                <span class="mobile-label">Banco:</span>
                {{ row.banco }}
            </mat-cell>
        </ng-container>

        <!-- Concepto Column -->
        <ng-container matColumnDef="concepto" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header> Concepto </mat-header-cell>
            <mat-cell  *matCellDef="let row" >
                <span class="mobile-label">Concepto:</span>
                {{ row.concepto }}
            </mat-cell>
        </ng-container>

        <!-- Fecha_entrega Column -->
        <ng-container matColumnDef="fecha_entrega" >
            <mat-header-cell  *matHeaderCellDef mat-sort-header> F. Entrega </mat-header-cell>
            <mat-cell  *matCellDef="let row" >
                <span class="mobile-label">F. Entrega:</span>
                {{ row.fecha_entrega | date: 'dd/MM/yyyy' }}
            </mat-cell>
        </ng-container>

        <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row  *matRowDef="let row; columns: displayedColumns" (click)="goToPagare(row)"></mat-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>
