/* You can add global styles to this file, and also import other style files */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	background-color: #1ea098;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.main-image {
	height: auto;
	width: 100%;
	max-width: 350px;
	max-height: 350px;
}

.w-100 {
	width: 100%;
}

.m-10 {
	margin: 10px;
}

.m-b-10 {
	margin-bottom: 10px;
}
